* {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
body {
		        background-image: url(backgroundtwitch.png) ;
				background-repeat:repeat-z;
	}
#titulo {
	color: #ffffff;
}
	

#logo nav {
	width: 110%;
	height: 60px;
	background-color:#49386F;
}
#logo nav p {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 24px;
	line-height: 55px;
    margin-left: 50;
	float: left;
	padding: 0px 0px;
}
#logo nav ul {
    float:left;
}
#logo nav ul li {
	float:left;
	list-style:none;
	position:relative;
}
#logo nav ul li a {
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	padding: 22px 14px;
	text-decoration: none;
}
#logo nav ul li a:hover {
	color:	#9881c3;
}

#logo nav ul li ul {
	display: none;
	position: relative;
	background-color: #49386F;
	padding:10px;
	border-radius: 0px 0px 5px 5px;	
	position: absolute;
}
#logo nav ul li:hover ul{
   display:block;
}

#logo nav ul li ul li {
	width: 180px;
	border-radius: 4px;
}
#logo nav ul li ul li a {
   padding: 8px 14px;    
}
#logo nav ul li ul li a:hover {
	background-color: #808080;	
}

#logo img {
	float: left;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top:0px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


form{
	margin-top:100px;
	width:1200px;
	height:6800px;
	background-color:#9881c3;
}

#tabela{

h1
	color:rgb(218,165,32) ;
    }
	
	body {
		        background-color: rgb(240,248,255) ;
	}
     table{
        color: #FFFFFF ;

	 }
      h1{
           face Arial
      }

	  